*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor:default ;
}
.container{
    margin: 2rem auto;
    display: flex;
    width: 70vw;
    padding: 1rem;
    box-shadow: 20px 20px 30px 20px rgb(0,0,0,0.09);
    border-radius: 2rem;
    flex-wrap: wrap;
    background: #F0EAD2;
}
.header{
    margin: 0 auto;
    padding: 0 25%;
    font-family: 'Tilt Prism', cursive;
    font-size: 3.5vw;
    color: #6C584C;
}
.input-section{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.first-buttons{
    display: flex;
}
.inputs{
    display: flex;
}
.fromto-writings{
    margin: 0 0.3rem;
    font-size: 1.2rem;
}
.task-container{
    margin-left: 1rem;
    width: 40%;
    display: flex;
    justify-content: center;
}
#time-first-input,#time-last-input{
    min-width: 10%;
    border-radius: 1rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    transition: 400ms;
}
#task-input{
    border-radius: 1rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    width: 95%;
    height: 2em;
    text-align: center;
    transition: 400ms;
}
#task-input:focus{
    width: 100%;
    transition: 400ms;
}
.button{
    display: flex;
    margin-left: 1rem;
    padding: 0.4rem;
    min-width: 7%;
    border-radius: 1rem;
    outline: none;
    border: 2px solid black;
    background: #A98467;
    cursor: pointer;
    transition: 300ms;
    font-weight: bold;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background: #705642;
    transition: 300ms;
}
.second-cont{
    margin-top:5rem;
}
.second-head{
    padding: 0 40%;
}
.plan-header{
    display: flex;
    width: 100%;
    margin: 2rem 0 0 0;
}
.time-header{
    width: 20%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.task-header{
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.plan-row{
    display: flex;
    width: 100%;
    padding: 0.5rem 0rem;
    background: #c3e5b6;
    border-radius: 1rem;
    margin-top: 0.3rem;
    height: 5rem;
    transition: 300ms;
    align-items: center;
}
.time-output{
    display: flex;
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}
.task-output{
    width: 50%;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}
.second-but{
    margin-left: 0.3rem;
}
.done-color{
    transition: 300ms;
    background: #6ef13a ;
}
.not-done-color{
    transition: 300ms;
    background: #e44a4a ;
}